__pycache__/
*.pyc
.venv/
venv/
.idea/
.vscode/
.DS_Store

# runtime data (keep folders, ignore contents)
shared/events/*
shared/processed/*
shared/logs/*
!shared/events/.gitkeep
!shared/processed/.gitkeep
!shared/logs/.gitkeep
